body{
    background-color: #FCE5EF;
}
#nav-box{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px
}
#logo-box{
    height: 85px;
    background-color: white;
    width: 10000px;
    position: absolute;
    z-index: -1;
}
ul{
    display: flex;
    border: solid 0px white;
    justify-content: space-around;
    z-index: -1;

}
li{
    list-style: none;
    color: #654f64;
    font-family: "myriad pro";
    font-size: 20pt;
    letter-spacing: 5px;
    font-weight: 600;
    justify-content: space-around;
    margin: 18px;
}
a{
    text-decoration: none;
    color: #654f64;
}
#logo2nd{
    height: 69px;
    position: absolute;
    left: 25px;
    top: 16px
}
