body{
    background-color: #FCE5EF;
    font-family: "Myriad Pro";
    color: #654f64;
    margin: 0px;
}
nav{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-size: 20px;
}
li{
   list-style: none;
    font-size: 18pt;
    letter-spacing: 5px;
    font-weight: 600;
}
#mylogo{
    position: absolute;
    height: 60px;
    top: 5px;
    left: 15px;
}
#links{
    text-decoration: none;
    color: #654f64;
}
/*end of header*/
#poster{
    height: 400px
}
