#header{
    display: flex;
    background-color: #FCE5EF;
    align-items:center;
    justify-content: space-around;
}
#title{
    font-family: "Myriad Pro";
}
#headlogo{
    width:182px;
    height: 182px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: center;
}
li{
    align-self: center;
    list-style: none;
    color: #654f64;
}
